body, html {scroll-behavior: smooth;}
/* 반응형 대비 최소 제한 너비 설정 */
header, main {min-width: 900px;}

/* 스크롤바 */
::-webkit-scrollbar {width: 10px;}/* /스크롤바 크기/ */
::-webkit-scrollbar-track {border-radius: 5px; background-color: #fff; box-shadow: inset 0 0px 5px rgba(0, 0, 0, 0.527);}/* /스크롤바 배경/ */
::-webkit-scrollbar-thumb {background-color: #222;border-radius: 5px;}/* /스크롤 드래그바/ */
::-webkit-scrollbar-thumb:hover {background-color: #555;}

/* mouse */
#mouse {
    background-color: #ffffffb4;
    width: 30px; height: 30px;
    /* border: 3px solid #ffffff; */
    border-radius: 50%;
    /* 화면 최상단 스크롤 상관없이 고정마우스 따라가는 CSS */
    position: fixed; left: 0; top: 0; z-index: 999;
    transform: translate(-50%, -50%);
    transition: all 0.1s  /* linear */; /* 애니메이션 기능 추가 */
    /* 필수속성:마우스 따라다니는 이미지 만들경우 */
    /* (위)링크, 버튼 등 선택이 안되는 문제해결 */
    pointer-events:none;
}


/* header */
header {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.10) 100%);
    position: fixed; left: 0; top: 0; width: 100%; z-index: 999;
}
header nav {
    width: 1300px; margin: 0 auto;
    padding: 27px 360px;
}
header nav .gnb {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
header nav .gnb a:last-child {margin-right: 0;}
header nav .gnb a:hover {
    color: #efaed5;}
header nav .gnb a {
    color: #fff;
    font-weight: 700;
}

/* #home */
main {}
/* main > * {padding: 0 300px;} main의 모든 자식요소들  */
main #home { 
    width:1920px; height: 960px; margin: 0 auto;
    overflow: hidden;
}
main #home .homebg{    
    background:url(../images/sky_blue.jpg);
text-align: center;  margin: 0 auto;}
main #home .homebg h1{
    padding-top: 426px;
    font-size: 130px;
    font-family: 'abril'; 
    color: #fff;
}
main #home .homebg h1 img {}

main #home .homebg .hometxt {
    width: 1000px; margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 10px 0;
}
main #home .homebg .hometxt p{
    color: #fff;
    font-size: 1. 5rem;
}
main #home .homebg .hometxt p em{
    font-weight: 700;
    font-size: 1.25rem;
}
main #home .homebg .flower{
    width: 400px; height: 500px; margin: 0 auto;
    position: relative; top: -80px;
    animation:rose_move 8s ease-in-out alternate infinite;
}
main #home .homebg .flower img{ 
    width: 100%;

}
@keyframes rose_move {
    0% {transform: rotate(10deg)}
    100% {transform: rotate(-3deg)}
}
main #home .homebg .hombtm{}
main #home .homebg .hombtm p{}
main #home .homebg .hombtm img{}
/* 마우스스크롤 css */
main #home .mouse {
    position: absolute; left: 50%; bottom: 30px;
    transform: translateX(-50%);
}
main #home .mouse img {animation: mouse_move 1s linear alternate infinite;}
@keyframes mouse_move {
    0% {transform: translateY(0)}
    100% {transform: translateY(-30px)}
}
/* 마우스 css 끝 */

/* #profile */
main #profile {
    width: 100%; height: 960px; margin: 0 auto;
    position: relative;
}
main #profile .profile_bg { 
    width: 770px; height: 660px;
    background-image: url(../images/profilebg.png);
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
}
main #profile .container {
    width:1120px; height: 100%; margin: 0 auto;
    /* position:absolute;
    top:  0; left: 0;
    transform: translateY(50%); */    
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    position:relative;


}
main #profile .container h1 {
    font-family: 'abril';
    font-size: 4.375rem;
    color: #266C9F;
}
main #profile .container .profile_txt {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    /* position: relative;
    bottom: 50%;
    transform: translateY(50%); */
    
}
main #profile .container .profile_txt .profile_left {
}
main #profile .container .profile_txt .profile_left .profileimg {
    width: 405px; height: 500px;
    overflow: hidden;
}
main #profile .container .profile_txt .profile_left .profileimg img {
    width: 130%;
    position: relative;
    bottom: 100px;

}
main #profile .container .profile_txt .profile_right {
    width: 635px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}
main #profile .container .profile_txt .profile_right h2 {
    font-family: '소미체';
    font-size: 3.437rem;
    padding-bottom: 30px;
}
main #profile .container .profile_txt .profile_right .all {
    display: flex;
    justify-content: space-between;
}
main #profile .container .profile_txt .profile_right ul > li > h3 {
    font-size: 1.25rem;
    font-weight: 700;
    padding-bottom: 25px;
    color: #266C9F;
}
main #profile .container .profile_txt .profile_right .left {

}
main #profile .container .profile_txt .profile_right .left > li {
    padding-bottom: 30px;
}
main #profile .container .profile_txt .profile_right .left .aboutme ul > li {
    display: flex;
    padding-bottom:20px ;
}
main #profile .container .profile_txt .profile_right .left .aboutme ul > li > p {
    padding-right:20px ;
    font-weight: 700;
}
main #profile .container .profile_txt .profile_right .left .aboutme ul li span {}
main #profile .container .profile_txt .profile_right .all .left .certificare > ul {}
main #profile .container .profile_txt .profile_right .all .left .certificare > ul > li:first-child {
    padding-bottom: 20px;
}
main #profile .container .profile_txt .profile_right .all .left .certificare > ul > li > p {
    font-size:0.9rem ;
    color: #777;
    padding-bottom: 2px;
}
main #profile .container .profile_txt .profile_right .all .left .certificare > ul > li > span {
    font-weight: 700;
}

/* 소개글 우측--------------EDUCATION / EXPERIENCE */
main #profile .container .profile_txt .right  {
    padding-bottom: 20px;            
}
main #profile .container .profile_txt .right li {}
main #profile .container .profile_txt .right li > h3 {}
main #profile .container .profile_txt .right li > ul {
    padding-bottom: 35px;
}
main #profile .container .profile_txt .right li > ul > li {
    padding-bottom: 20px;
}
main #profile .container .profile_txt .right li > ul > li > p { 
    font-size:0.9rem ;
    color: #777;
    padding-bottom: 2px;
}
main #profile .container .profile_txt .right li > ul > li > span {
    font-weight: 700;
}
main #profile .container .profile_txt .right .experience > ul > li:last-child {
    padding-bottom: 0;
}
/* ----------------------------SKILL------------------------------ */
main #profile .container .profile_txt .skill {}
main #profile .container .profile_txt .skill h3 {
    font-size: 1.25rem;
    font-weight: 700;
    padding-bottom: 25px;
    color: #266C9F;
}
main #profile .container .profile_txt .skill ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
main #profile .container .profile_txt .skill ul li {}
main #profile .container .profile_txt .skill ul li img {}



/* design */

main .design {   
}
main  h2 {/* background: wheat; */
    font-size: 4.375rem;
    color: #266C9F;
    font-family: abril;
    letter-spacing: 2px;
    width: 1300px; margin: 0 auto;
}
main .design > div > h3 {
    font-size: 2.5rem;
    font-family: 나눔스퀘어EXTRABOLD;
    color: #266C9F;
    letter-spacing: -0.02rem;
    font-weight: 700;
    padding-bottom: 50px;
}
main .design > div > div {}

/* sns popup */
main #sns_popup { background: rgba(0, 0, 0, 0.699);
    width: 100%; height:100%;
    z-index: 998;
    position: fixed; top:0 ; left: 0;
}
main #sns_popup > .contents {
    background: aqua;
    width: 500px; height: 550px;
    margin: 150px auto;
}
main #sns_popup > .contents > img {
    width: 100%; height: 100%;
}
/* sns */
main #sns_design {
    
}
main #sns_design .sns { /* background: lightblue; */
    width: 1200px; height: 960px; margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

}
main .design .sns h3 {}
main #sns_design .sns > .contents:hover {
    filter: grayscale(0);
    transition: all 0.5s linear;
}
main #sns_design .sns > .contents {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    filter: grayscale(100%);
}
main #sns_design .sns > .contents a:hover {
    filter: grayscale(0);
    background-size: 105%;
}
main #sns_design .sns > .contents a {
    display: block;
    width: 280px; height: 280px; background-color: rgb(179, 172, 172);
    margin-bottom: 30px;
    border-radius:20px ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 2px 3px 5px 2px rgba(0, 0, 0, 0.25);
    /* filter: grayscale(100%); */

}
main #sns_design .sns > .contents .sns1 {background-image: url(../images/sns_design/sns1.jpg);}
main #sns_design .sns > .contents .sns2 {background-image: url(../images/sns_design/sns2.jpg);}
main #sns_design .sns > .contents .sns3 {background-image: url(../images/sns_design/sns3.jpg);}
main #sns_design .sns > .contents .sns4 {background-image: url(../images/sns_design/sns4.jpg);}
main #sns_design .sns > .contents .sns5 {background-image: url(../images/sns_design/sns5.jpg);}
main #sns_design .sns > .contents .sns6 {background-image: url(../images/sns_design/sns6.jpg);}
main #sns_design .sns > .contents .sns7 {background-image: url(../images/sns_design/sns7.jpg);}
main #sns_design .sns > .contents .sns8 {background-image: url(../images/sns_design/sns8.jpg);}

/* banner popup */
main #banner_popup { background: rgba(0, 0, 0, 0.699);
    width: 100%; height:100%;
    z-index: 998;
    position: fixed; top:0 ; left: 0;
}
main #banner_popup > .contents {
    background: aqua;
    width: 1000px; height: 400px;
    margin: 150px auto;
}
main #banner_popup > .contents > img {
    width: 100%; height: 100%;
}
/* banner*/
main #banner_design { /* background: wheat; */
    width:100%; height: 960px; margin: 0 auto; 
}
main #banner_design .banner { /* background: rgb(223, 162, 50); */
    width: 1200px; height: 960px; margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

}
main #banner_design .banner h3 {
    display: flex;
    align-self: flex-end;
}
main #banner_design .banner > .contents {
    width: 1200px; 
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

}
main #banner_design .banner > .contents  a:hover {
    background-size: 110%;   
}
main #banner_design .banner > .contents  a {
    transition:all 0.5s linear;
    display: block;
    width: 590px; height: 225px;    
    border-radius:20px ;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
    box-shadow: 2px 4px 5px 3px rgba(0, 0, 0, 0.25);
    }
main #banner_design .banner > .contents .banner1 {background-image: url(../images/banner_design/banner1.jpg);}
main #banner_design .banner > .contents .banner2 {background-image: url(../images/banner_design/banner2.jpg);}
main #banner_design .banner > .contents .banner3 {}
main #banner_design .banner > .contents .banner4 {}

/* detail popup */
main #detail_popup {  background: rgba(0, 0, 0, 0.699);
    width: 100%; height:100%;
    z-index: 998;
    position: fixed; top:0 ; left: 0;
}
main #detail_popup > .contents {
    width: 650px; height: 700px;
    margin: 130px auto;
    overflow-y:auto;
    
}
main #detail_popup > .contents > img {
    width: 100%; 
    text-align: center;
}

/* detail*/
main #detail_design {/* background: rgb(179, 245, 184); */
    width: 100%; height: 960px; margin: 0 auto;
}
main #detail_design .detail { /* background: fuchsia; */
    width:1200px; height: 960px; margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-between;
    align-items:center;
}
main #detail_design .detail h3 {    
    align-self: self-start;
    padding-top: 140px;
}
main #detail_design .detail .detail_all {
    position: relative;
}
main #detail_design .detail .detail_all #detail_slide {/* background: lightblue; */


}
main #detail_design .detail .detail_all #detail_slide .detail_contents {
    width: 850px; height: 670px;
}
main #detail_design .detail .detail_all .detail_contents .swiper-slide {
    width: 350px; height: 650px;
    background-size: cover;  
    border-radius: 20px;
    box-shadow: 2px 4px 5px 3px rgba(0, 0, 0, 0.25);
}



main #detail_design .detail .detail_all .detail_contents .slide1 { background-image: url(../images/detail_design/detail1.jpg);}
main #detail_design .detail .detail_all .detail_contents .slide2 {background-image: url(../images/detail_design/detail2.jpg);}
main #detail_design .detail .detail_all .detail_contents .slide3 {background-image: url(../images/detail_design/detail3.jpg);}
main #detail_design .detail .detail_all .detail_contents .slide4 {}

/* cardnews*/
main #cardnews_design {/* background: lightblue; */
    width: 100%; height: 960px; margin: 0 auto;

}
main #cardnews_design .cardnews { /* background: lightpink; */
    width:1200px; height: 960px; margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content:center;
    
}
main #cardnews_design h3 { 
    font-size: 2.5rem;
    font-family: 나눔스퀘어EXTRABOLD;
    color: #266C9F;
    letter-spacing: -0.02rem;
    font-weight: 700;
    padding-bottom: 50px;
}
main #cardnews_design .all {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}
main #cardnews_design .cardl {
    position: relative;
}
main #cardnews_design .cardl #card_slidel {
    border-radius: 20px;
}
main #cardnews_design .cardl #card_slidel .card_contents {/*  background: indianred; */
    width: 500px; height: 500px;   

}
main #cardnews_design .cardl #card_slidel .card_contents .swiper-slide {
    width: 100%; height: 100%;

}

main #sns .contents,main #banner .contents, main #detail .contents , main #cardNews .contents{width:1300px; margin: 0 auto;}

/* cardnews -right  */
main #cardnews_design .cardr {
    position: relative;
}
main #cardnews_design .cardr #card_slider {    border-radius: 20px;

}
main #cardnews_design .cardr #card_slider .card_contents { /* background: rgb(121, 75, 75); */
    width: 500px; height: 500px;

}
main #cardnews_design .cardr #card_slider .card_contents .swiper-slide {
    width: 100%;
}
main #cardnews_design .cardr #card_slider .card_contents > .slide1 {background-image: url(../images/sns_design/sns1.jpg);}
main #cardnews_design .cardr #card_slider .card_contents > .slide2 {background-image: url(../images/sns_design/sns2.jpg);}
main #cardnews_design .cardr #card_slider .card_contents > .slide3 {background-image: url(../images/sns_design/sns3.jpg);}
main #cardnews_design .cardr #card_slider .card_contents > .slide4 {background-image: url(../images/sns_design/sns4.jpg);}

/* #project_web1 */
main .project {/* background: wheat; */
    width:100%; height: 960px;
}
main .project .web { background: rgba(173, 216, 230, 0.452);
    width: 100%; height: 400px; margin: 0 -50px;
    border-radius: 0 500px 0 0;
}
main .project h3 {
    font-size: 4.375rem;
    color: #266C9F;
    font-family: abril;
    padding-bottom: 50px;
    letter-spacing: 2px;
    width: 1300px; margin: 0 auto;
}
main .project .web .web_all {background: rgb(255, 255, 255);
    width: 1100px; height: 100%; margin: 0 auto;
}
main .project .web .swiper-container {
position: relative;
}
main .project .web .swiper-container .swiper {}
main .project .web .swiper-container .swiper .swiper-wrapper {}

/* hanwha */
main .project .web .swiper-container .swiper #hanwha {}
main .project .web .swiper-container .swiper #hanwha #project_web1 {
    display: flex;
    flex-flow:row nowrap;
    justify-content: space-around;
}
/* 한화 컴퓨터 미리보기 시작 */
main .project .web .swiper-container .swiper #hanwha #project_web1 .hanwha_slide {
    position: relative; 
} 
main .project .web .swiper-container .swiper #hanwha #project_web1 .hanwha_slide img {/*  background: aqua; */
    width: 500px; height: 430px;
}
main .project .web .swiper-container .swiper #hanwha #project_web1 .hanwha_slide > .project_slide1 {    
    width:477px; height:267Px; 
    position:absolute; top:10px; left:11px; 
    border-radius:5px; border:2px solid #d4d4d4; 
    box-sizing: border-box;
    overflow: hidden;
}
main .project .web .swiper-container .swiper #hanwha #project_web1 .hanwha_slide .project_slide1 .project_hanwha { 
    position: relative;
    width: 477px; height: 267px;
    z-index: 1;
    display: flex;
    
    
    transition-duration: 1300ms;
    transform: translate3d(0px, -1185px, 0px);
    
    
}
main .project .web .swiper-container .swiper #hanwha #project_web1 .hanwha_slide .project_slide1 .project_hanwha .hanwha_img {    
    width: 477px; height: 267Px;
    background-size: cover; 
    display: block;
}
main .project .web .swiper-container .swiper #hanwha #project_web1 .hanwha_slide .project_slide1 .project_hanwha .slide_img1 {background-image: url(../images/web_project/hanwha1.jpg);}
main .project .web .swiper-container .swiper #hanwha #project_web1 .hanwha_slide .project_slide1 .project_hanwha .slide_img2 {background-image: url(../images/web_project/hanwha2.jpg);}
main .project .web .swiper-container .swiper #hanwha #project_web1 .hanwha_slide .project_slide1 .project_hanwha .slide_img3 {background-image: url(../images/web_project/hanwha3.jpg);}
main .project .web .swiper-container .swiper #hanwha #project_web1 .hanwha_slide .project_slide1 .project_hanwha .slide_img4 {background-image: url(../images/web_project/hanwha4.jpg);}
main .project .web .swiper-container .swiper #hanwha #project_web1 .hanwha_slide .project_slide1 .project_hanwha .slide_img5 {background-image: url(../images/web_project/hanwha5.jpg);}


main .project .web .swiper-container .swiper #hanwha #project_web1  .project_info {/* background: lime; */
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;

}
main .project .web .swiper-container .swiper #hanwha #project_web1  .project_info .project_contents {}
main .project .web .swiper-container .swiper #hanwha #project_web1  .project_info .project_contents h1 {}
main .project .web .swiper-container .swiper #hanwha #project_web1  .project_info .project_contents ul {
    padding-top: 50px;
    display: flex;
    flex-flow: column nowrap;
}
main .project .web .swiper-container .swiper #hanwha #project_web1  .project_info .project_contents ul li {
    display: flex;
    padding-bottom: 20px;

}
main .project .web .swiper-container .swiper #hanwha #project_web1  .project_info .project_contents ul li .title_hanwha {
    font-family: 'montregular';
    font-size: 1.333rem;
    font-weight: 600;
    padding-bottom: 20px;
    margin-left: -5px;
    letter-spacing: 0.05rem;
}
main .project .web .swiper-container .swiper #hanwha #project_web1  .project_info .project_contents ul li p {
    line-height: 20px;
}
main .project .web .swiper-container .swiper #hanwha #project_web1  .project_info .project_contents li:nth-child(3) .info {
    line-height: 27px;
}
main .project .web .swiper-container .swiper #hanwha #project_web1  .project_info .project_contents ul li .title {
    font-family: 'montregular' ;
    font-weight: 600;
    width: 95px;
    letter-spacing: 0.2rem;
}
main .project .web .swiper-container .swiper #hanwha #project_web1  .project_info .project_contents li:first-child > .title {
    letter-spacing: 0.4rem;
}
main .project .web .swiper-container .swiper #hanwha #project_web1  .project_info .project_contents li:last-child > .title {

    letter-spacing: 0.08rem;

}
main .project .web .swiper-container .swiper #hanwha #project_web1  .project_info .project_contents li:first-child .info{
    font-weight: 600;
}
main .project .web .swiper-container .swiper #hanwha #project_web1  .project_info .project_contents li > .info {
    font-family: 'montregular';
}
main .project .web .swiper-container .swiper #hanwha #project_web1 .project_info  .link {/* background: lightsalmon; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
main .project .web .swiper-container .swiper #hanwha #project_web1 .project_info .link  a:hover {
    background: #f17121;
    color: #fff;
    transform:scale(1.05);
    transition:all 0.5s linear;
    border: none;
}
main .project .web .swiper-container .swiper #hanwha #project_web1 .project_info .link  a {background: rgb(255, 255, 255);
    font-family: 'montrebold';
    font-weight: 600;
    width: 150px; 
    padding: 15px 0;
    border: 2px solid #F17221;
    border-radius: 15px;
    display: block;
    text-align: center;
    margin: 0 10px;
    color: #F17221;
}
main .project .web .swiper-container .swiper #hanwha #project_web1 h1 .project_info  .link a:first-child {}
main .project .web .swiper-container .swiper #hanwha #project_web1 h1 .project_info  .link a:nth-child(2) {}
main .project .web .swiper-container .swiper #hanwha #project_web1 h1 .project_info  .link a:last-child {}

/* hanwha 끝 */
/* apc 시작 */
main .project .web .swiper-container .swiper #apc {}
main .project .web .swiper-container .swiper #apc #project_web2 {
    
}
main .project .web .swiper-container .swiper #apc #project_web2 .apc_project { 
    width: 1100px; margin: 0 auto;
    display: flex;
    flex-flow:row nowrap;
    justify-content: space-around;
}
main .project .web .swiper-container .swiper #apc #project_web2 .apc_project .com_apc {}
main .project .web .swiper-container .swiper #apc #project_web2 .apc_project .com_apc .comp {
    width: 500px; height: 430px;
}
main .project .web .swiper-container .swiper #apc #project_web2 .apc_project .com_apc .apc_img {
    width:477px; height:267px; 
    position:absolute; top:11px; left:34px; 
    border-radius:5px; border:2px solid #d4d4d4; 
    box-sizing: border-box;
    overflow: hidden;
}
main .project .web .swiper-container .swiper #apc #project_web2 .apc_project > .project_info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}
main .project .web .swiper-container .swiper #apc #project_web2 .apc_project > .project_info .project_contents {}
main .project .web .swiper-container .swiper #apc #project_web2 .apc_project > .project_info .project_contents ul {
    padding-top: 50px;
}
main .project .web .swiper-container .swiper #apc #project_web2 .apc_project > .project_info .project_contents ul li {
    display: flex;
    padding-bottom: 20px;
    font-family: 'montregular' ;
}
main .project .web .swiper-container .swiper #apc #project_web2 .apc_project > .project_info .project_contents ul li .title_apc {
font-family: 'montregular';
font-size: 1.333rem;
font-weight: 600;
padding-bottom: 20px;
margin-left: -5px;
letter-spacing: 0.05rem;
}
main .project .web .swiper-container .swiper #apc #project_web2 .apc_project > .project_info .project_contents ul li p {
    line-height: 20px;    font-family: 'montregular' ;
}
main .project .web .swiper-container .swiper #apc #project_web2 .apc_project > .project_info .project_contents li:nth-child(3) .info {
    line-height: 27px;
}
main .project .web .swiper-container .swiper #apc #project_web2 .apc_project > .project_info .project_contents ul li .title {
    font-family: 'montregular' ;
    font-weight: 600;
    width: 95px;
    letter-spacing: 0.2rem;
}
main .project .web .swiper-container .swiper #apc #project_web2 .apc_project > .project_info .project_contents ul li:first-child > .title {
    letter-spacing: 0.4rem;
}
main .project .web .swiper-container .swiper #apc #project_web2 .apc_project > .project_info .project_contents ul li:last-child > .title {
    letter-spacing: 0.08rem;
}
main .project .web .swiper-container .swiper #apc #project_web2 .apc_project > .project_info .link {    
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
main .project .web .swiper-container .swiper #apc #project_web2 .apc_project > .project_info .link a:hover {
    background: #ff4eaf;
    color: #fff;
    transform:scale(1.05);
    transition:all 0.5s linear;
    border: none;
}
main .project .web .swiper-container .swiper #apc #project_web2 .apc_project > .project_info .link a {
    font-family: 'montrebold';
    font-weight: 600;
    width: 150px; 
    padding: 15px 0;
    border: 2px solid  #ff4eaf;
    border-radius: 15px;
    display: block;
    text-align: center;
    margin: 0 10px;
    color:  #ff4eaf;
}
/* apc 끝 */